body {
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    text-align: center;
    font-family: ;
    font-family: 'Merienda', cursive;
}

h2 {
    font-family: 'Voltaire', sans-serif;
text-align: center;
}

h3 {
    font-family: 'Voltaire', sans-serif;
    text-align: center;

}

p {
    font-family: 'Arsenal', sans-serif;
    text-align: center;
}

#bg-image {
    height: 400px;
    width: 60%;
}

.main-image {
    position: absolute;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
    background-size: cover;
    width: 33%;
    height:300px;
    padding-left: 45.2em;

}



.intro {
    padding-top: 1em;
    padding-bottom: 1em; 
    background-color: brown;
    color: rgb(208, 234, 235);
    font-size: 0.7em;
    font-weight: bolder;
}


.buy-product{

display: grid;
grid-template-columns: 1fr 1fr;
align-content: space-between;
justify-content: last baseline;
gap = 4px;

    
}

.product-detail {
    font-size: 1.3em;
    align-content: center;
    /* padding-top: 9em; */
    font-weight: bold;
}

.button {
    padding-left: 6em;
    
}

.product {
    border: 1em black;
}

.product-img {
    width: 250px;
}

.foot {
    background-color: darkgoldenrod;
    padding: 3em;
    display: grid;
    align-content: stretch;
    grid-template-columns: [first] 50% 50% [end];
    justify-content:;
    text-align: center;
}

.foot div {
    border: rgb(230, 217, 182);
    border-spacing: 3em;
    border-style: solid;
    border-width: 0.2em;
}


@media (min-width:800px) {
 
 #bg-image {
    height: 700px;
    width: 60%; }

.intro {
        padding-top: 3em;
        padding-bottom: 3em; 
        font-size: 1.5em;

}



body {
    align-items: center;
    padding-left: 13em;
    padding-right: 13em;
}

h1 {
    font-size: 3em;
    color: ;
    font-weight: bolder;
}

.product-img {
  width: 300px;

}

.product-detail {

}

}